*{
  font-family: 'Roboto', sans-serif;
}

.navbar-brand{
  font-size: 2rem;
  font-weight: 100;
}
.nav-cont{
  width: 80%;
}
.nav-link{
  font-weight: 300;
  font-style: italic;
  color: black;
  margin-left: 2rem;
}
.col-lg img{
  width: 100%;
  margin-bottom: 1rem;
}

.mycont{
  width: 90vw;
  margin: auto;
}